<!DOCTYPE html>
<html>
<head>
    <title>Add a Quote</title>
</head>
<body>
    <h1>Add a New Quote</h1>
    <form method="POST">
        <label>Page:</label><input type="number" name="page"><br>
        <label>Type:</label><input type="text" name="type"><br>
        <label>Text:</label><input type="text" name="text"><br>
        <label>Cover URL:</label><input type="text" name="cover"><br>
        <label>Author:</label><input type="text" name="author"><br>
        <label>Book Title:</label><input type="text" name="book"><br>
        <button type="submit">Add Quote</button>
    </form>
    <a href="/">Back</a>
</body>
</html>
